.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavBar {
  display: flex;
  flex-direction:row;  
  color: rgb(146, 197, 245);
  font-weight: bold;
}

.NavBar2 { 
  color: white;
}

.Title {
  font-family: palatino;
  font-weight: bold;
}

.HomeQuote {
  font-style: italic;
  font-family: cursive;
  /*font-weight: bold; */
}

.CitiesExplored {
  text-decoration: underline;
}

.Image {
  height: 400px;
  width: 70%;
  /*background-color: powderblue; */
}